<article class="d-flex align-items-start">
  <h1 class="page-title title--font-size font--roboto-bold">
    I want to convert
  </h1>
</article>

<app-currency-converter-input
    [currencies]="currencies | async"
    [conversionRequest]="conversionRequest"
    (conversionInput)="handleConvertCurrency($event)">
</app-currency-converter-input>

<app-currency-converter-result
    [conversionResult]="conversionResult | async">
</app-currency-converter-result>

<app-exchange-history
    *ngIf="conversionResult | async"
    (exchangeHisoryRequest)="getExchangeHistory($event)"
    [baseCurrency]="baseCurrency"
    [exchangeHistory]="exchangeHistory | async">
</app-exchange-history>