.mat-radio-outer-circle {
  background-color: red;
}

.mat-radio-group{
  display:inline-block;
  margin-top: 1rem;
}

.anychart-credits {
  display: none;
}

.history-chart {
  width: 100%;
  height: 40rem;
}
