<article class="row">
    <div class="col-12 mt-4 mb-2">
        <hr>
    </div>

    <p class="section-title--font-size font--roboto-bold col-12">
        Exchange History
    </p>

    <div class="col-12 mt-4 row">
        <div class="col-4">
            <mat-form-field>
                <mat-select [(value)]="selectedDuration" (valueChange)="selectDuration()" placeholder="Duration">
                    <mat-option value="7">7 days</mat-option>
                    <mat-option value="14">14 days</mat-option>
                    <mat-option value="30">30 days</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-8 mt-1">
            <mat-radio-group aria-label="Select an option"
                             [value]="selectedHistoryType"
                             [(ngModel)]="selectedHistoryType">
                <mat-radio-button value="table">Table</mat-radio-button>
                <mat-radio-button value="chart" class="m-lg-3">Chart</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <app-exchange-history-table
        *ngIf="selectedHistoryType === 'table'"
        [exchangeHistory]="exchangeHistory">
    </app-exchange-history-table>

    <app-exchange-history-chart
        *ngIf="selectedHistoryType === 'chart'"
        [conversionRequest]="conversionRequest"
        [exchangeHistory]="exchangeHistory">
    </app-exchange-history-chart>

</article>
